* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}